.tiendaContainer {
  margin: 3rem 0;
}

.tiendaTitle {
  margin-top: 5rem;
  text-align: center;
}
div .tiendaList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 5rem;
  margin: 1rem;
  cursor: pointer;
}
